/* ! Chat */

.chat__container {
    padding: 20px 10px;
    overflow: auto;
    height: 400px;
}

.chat__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.chat__item {
    display: flex;
    margin-bottom: 30px;
}

.contact__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;

    margin-right: 10px;
}

/* .contact__container {} */

.user__container {
    margin-left: auto;
    text-align: right;
}

.contact__item,
.user__item {
    display: inline-block;
    text-align: left;
    min-width: 10px;
    max-width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(72 72 72 / 30%);
    /* ??? */
    margin-bottom: 10px;
}

.contact__item {
    background-color: rgb(25, 25, 51);
    color: white;
}

.user__item {
    background-color: rgb(179, 176, 176);
    color: black;
}

.contact__date {
    color: rgb(116, 116, 116);
}



/* ! Submission */

.submisson__container {
    background-color: rgb(239 239 239);
    border-top: 1px solid rgb(72 72 72 / 30%);
    padding: 15px;

    z-index: 10;
    bottom: 0;
}

.form {
    display: flex;
    justify-content: center;
}

.submisson__input {
    min-width: 80%;
    height: 40px;
    padding-left: 10px;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid rgb(72 72 72 / 30%);
    border-right: none;
    outline: none;
}

.submission__button {
    box-sizing: content-box;
    width: 8%;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgb(72 72 72 / 30%);
    border-left: none;
    background-color: white;
    cursor: pointer;
}


.arrow__svg {
    height: 20px;
    width: 20px;
}




/* todo Media  queries  Chat */

@media screen and (max-width: 480px) {
    .contact__avatar {
        display: none;
    }
}


@media screen and (min-width: 481px) {
    .chat__container {
        padding: 20px 5px;
    }

    .chat__item {
        margin-bottom: 30px;
    }

    .contact__item,
    .user__item {
        min-width: 20px;
        max-width: 300px;
        padding: 10px;
        border-radius: 20px;
    }
}



@media screen and (min-width: 769px) {
    .chat__container {
        padding: 20px;
    }

    .contact__item,
    .user__item {
        min-width: 30px;
        max-width: 500px;
        padding: 15px;
        border-radius: 30px;
    }
}


/* todo Media  queries  Submission */

@media screen and (max-width: 480px) {
    .submission__button {
        height: 40px;
    }

    .arrow__svg {
        height: 20px;
        width: 20px;
    }
}

@media screen and (min-width: 481px) {
    .submisson__container {
        padding: 20px;
    }

    .submisson__input {
        height: 45px;
    }

    .submission__button {
        height: 45px;
    }
}

@media screen and (min-width: 769px) {
    .submisson__container {
        padding: 30px 20px;
    }

    .submisson__input {
        height: 50px;
        padding-left: 20px;
    }

    .submission__button {
        height: 50px;
    }

    .arrow__svg {
        height: 25px;
        width: 25px;
    }
}
