.list__container {
    padding-top: 20px;
}

.list__title {
    margin: 0px;
    color: rgb(40, 172, 224);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: auto;
    height: 355px;

}

.notfound {
    min-height: 50vh;
    padding: 30px 20px;
}

.notfound__text {
    font-size: 26px;
    font-weight: 500;
}


/* todo Media  queries */

@media screen and (max-width: 480px) {

    .list__container {
        text-align: center;
    }

    .list__title {
        margin-bottom: 10px;
    }

    .notfound {
        padding: 30px 5px;
    }
    
    .notfound__text {
        font-size: 18px;
        font-weight: 500;
    }
}

/* todo Media  queries */

@media screen and (min-width: 481px) {
    .list__container {
        padding-top: 20px;
        text-align: left;
    }

    .list__title {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .notfound {
        padding: 30px 20px;
    }

    .notfound__text {
        font-size: 24px;
    }
}

@media screen and (min-width: 769px) {
    .list__container {
        padding-top: 40px;
    }

    .list__title {
        margin-bottom: 30px;
    }
}


/* ? Height*/

@media screen and (max-height: 600px) and (max-width: 768px) {
    .list {
        height: 395px;
    }
}