.main__container {
    display: flex;
}

.sidebar {
    width: 30%;
    border-right: 1px solid rgba(0, 0, 0, 0.199);
    /* height: 100%; */
}

.chat {
    width: 70%;
    /* height: 100%; */
}


/* todo Media  queries */

@media screen and (max-width: 480px) {
}


@media screen and (min-width: 481px) {
    .sidebar {
        width: 35%;
    }

    .chat {
        width: 65%;
    }
}



