.main__container {
    display: flex;
    /* flex-wrap: wrap; */
}

.sidebar {
    width: 30%;
}

.chat {
    border-left: 1px solid rgba(0, 0, 0, 0.199);
}


/* todo Media  queries */

@media screen and (max-width: 480px) {
    .sidebar {
        width: 30%;
    }

    .chat {
        width: 70%;
    }
}

@media screen and (max-height: 480px) {
    .chat {
        padding-top: 12%;
        padding-bottom: 10%;
    }
}

@media screen and (min-widt: 481px) {
    .sidebar {
        width: 35%;
    }

    .chat {
        width: 65%;
        padding-top: 80px;
    }
}

@media screen and (min-height: 481px) {
    .chat {
        padding-top: 10%;
        padding-bottom: 12%;
    }
}

@media screen and (min-height: 600px) {
    .chat {
        padding-top: 7%;
        padding-bottom: 10%;
    }
}


@media screen and (min-height: 750px) {
    .chat {
        padding-top: 8%;
    }
}

@media screen and (min-height: 800px) {
    .chat {
        padding-top: 8%;
    }
}

@media screen and (min-height: 840px) {
    .chat {
            padding-top: 20%;
        }
}


@media screen and (min-height: 1000px) {
    .chat {
        padding-top: 10%;
    }
}


