.chat__header {
    display: flex;
    padding: 10px;
    background-color: rgb(239 239 239);
    border-bottom: 1px solid rgb(72 72 72 / 30%);
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 10%);

    position: fixed;
    top: 0;
    width: 67%;
}

.user__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

.user__name {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
}


/* todo Media  queries */

@media screen and (max-width: 480px) {
    .user__name {
        font-size: 22px;
    }
}

@media screen and (min-width: 481px) {
    .chat__header {
        padding: 10px 20px;
        width: 67%;
    }

    .user__name {
        font-size: 24px;
    }
}

@media screen and (min-width: 769px) {
    .chat__header {
        padding: 20px;
        width: 62%;
    }

    .user__name {
        font-size: 28px;
    }

    .user__avatar {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .chat__header {
        width: 64%;
    }
}